---
import { Image } from "@astrojs/image/components";
import Logo from "~/assets/img/logo.jpg";
import NavLink from "~/components/NavLink.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      src="/stats/js/script.js"
      data-api="/stats/api/event"
      data-domain="brendonovich.dev"
    ></script>
  </head>
  <body class="relative bg-neutral-900 px-4 pt-4 text-white md:px-6 md:pt-6">
    <div class="mx-auto flex max-w-6xl flex-col">
      <header class="sticky mb-4 flex flex-row items-center md:mb-6">
        <div class="flex-1">
          <h1 class="text-4xl font-black text-yellow-400 md:text-5xl">
            Brendan
          </h1>
        </div>
        <nav class="sticky text-lg md:text-xl">
          <ul class="flex flex-row items-end space-x-4">
            <NavLink href="/">Home</NavLink>
            <NavLink href="/blog">Blog</NavLink>
            <NavLink href="https://github.com/brendonovich">GitHub</NavLink>
          </ul>
        </nav>
        <div class="hidden flex-1 md:block">
          <Image
            src={Logo}
            class="ml-auto w-12 md:w-16 h-12 md:h-16 rounded-lg border-black border"
            alt="Brendonovich Logo"
          />
        </div>
      </header>
      <slot />
    </div>
  </body>
</html>
